*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url("../img/gmail.jpg");
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
section{
  width: 80%;
  text-align: center;
  color: white;
}
h2{
  font-size: 30px;
}
h3{
  margin: 30px 0px;
}
h1{
  font-size: 45px;
}
